.panel {
    padding-left:0;
    padding-right:0;
}

.panel-heading button:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading button.collapsed:after {
    content:"\e080";
}
.panel-heading {
    padding:1em;
}
p {
    font-size:1.1em;
}

.text-important {
    color:red;
}

.readable {
    max-width:50em;
}
.close-list{
}
.center {
    vertical-align:middle;
}
button {
    margin      : 0;
    padding     : 0;
    border      : 0;
    background  : transparent;
    font-family : inherit;
    font-size   : 1em;
    cursor      : pointer;
}

.file {
    background-color:#bbb;
    font-family: courier;
}

.code {
    text-align:left;
    font-family: courier;
}
